{% extends 'layouts.master' %}

{% block content %}
    <div class="email-verification">
        <h1 style="font-size: 18px;">E-Mail Verification</h1>
        <h4>Invalid Token</h4>
        <p>
            Sorry! You're token either expired or never existed.
        </p>
    </div>
{% endblock %}

